*

!*.*

!*/

*.sqlite3

_deps
packages

nimcache
tests/megatest.nim
outputGotten.txt
outputExpected.txt
nimble.develop
nimble.paths
*.out
outputExpected.txt

improvements.md
docs/improvements.md
CLAUDE.local.md